<div [hidden]="submitted">
  <p>
    <mat-toolbar>
      <span>Add a new hero!</span>
    </mat-toolbar>
  </p>
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm"  class="hero-form">
    <mat-form-field appearance="fill">
      <mat-label for="name">Name</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="name"
        required
        [(ngModel)]="model.name"
        name="name"
        #name="ngModel"
      >
      <mat-error [hidden]="name.valid || name.pristine">
        Name is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="home">Home</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="home"
        required
        [(ngModel)]="model.home"
        name="home"
        #home="ngModel"
      >
      <mat-error [hidden]="home.valid || home.pristine">
        Home is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="phone">Phone</mat-label>
      <input
        matInput
        type="text"
        class="form-control"
        id="phone"
        required
        [(ngModel)]="model.phone"
        name="phone"
        #phone="ngModel"
      >
      <mat-error [hidden]="phone.valid || phone.pristine">
          Phone is required
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!heroForm.form.valid">Submit</button>
  </form>
</div>
