<p>
  <mat-toolbar>
    <span>Hero list!</span>
  </mat-toolbar>
</p>
<div class="search-bar">
  <button routerLink="/add" mat-raised-button color="primary" aria-label="Add a new hero">
    <span>Add</span>
  </button>
  <mat-form-field>
    <input matInput type="text" #searchHero placeholder="search the hero">
  </mat-form-field>
</div>
<mat-nav-list>
  <mat-list-item *ngFor="let hero of filteredHeroes">
    <a matLine routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id | slice:-4}}</span> {{hero.name}}
    </a>
    <button mat-icon-button routerLink="/update/{{hero.id}}" [state]="{ data: hero}">
      <mat-icon aria-hidden="false" aria-label="Edit hero">edit</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(hero.id)">
      <mat-icon aria-hidden="false" aria-label="Delete hero">delete</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
